
body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Kosugi', sans-serif;
	background: #F4F5F1;
}

h1 {
    text-align: center;
    margin:0 auto;
    margin-bottom: 70px;
    font-size: 40px;
	color: black;
    
}

.container{
    background-color: #94D1BE;
    height: 300px;
    width: 364px;
    border-style: solid;
    box-shadow: 10px 10px gray;
    text-align: center;
    justify-content: center;
}

.container input,button {
	width: 60%;
	height: 20px;
	background: White;
	display: flex;
	margin: 25px auto;
	padding: 20px;
	border: none;
	outline: none;

}

.container button{
    padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
	background-color: white;
    
}

#buttons{
    margin-top: 50px;
	margin-bottom: 40px;
}

.login_form_form{
	margin-top: 15px;
	margin-bottom: 30px;
}

button{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor:pointer;
	width: 71%;
}

a{
	color: inherit;
	text-decoration: none;
}